
/* latin */
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(fonts/gloriah.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.gt-top-menu.transparent {
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: .6s;
  transition: .6s;
  color: #FFF;
  font-family: 'Gloria Hallelujah';
  font-size: 20px;
}

@media (max-width: 768px) {
  .gt-top-menu.transparent {
    color: #333;
  }
}

.fr-l-pink {
    background-color: #fdf7ff;
}
.fr-yellow {
    background-color: #fff8cc;
}
.banner {
  height: 620px;
  position: relative;
  overflow: hidden;
  max-height: 100%;
}

.banner-short {
  min-height: 150px;
  position: relative;
  overflow: hidden;
}

.banner-short h1 {
  font-size: 30px;
  font-weight: lighter;
}

.line, .banner-short h1 .line, .title h1 .line {
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.banner-short h1 .line {
  background-color: #FFF;
  width: 200px;
}

.title h1 .line {
  background-color: #333;
}

.banner-short h1 .text {
  margin-left: 215px;
  position: relative;
  width: calc(100% - 215px);
  display: block;
}

@media (max-width: 520px) {
  .banner-short h1 .text {
    margin-left: 60px;
    width: calc(100% - 60px);
  }

  .banner-short h1 .line {
    width: 50px;
  }
}

.brand {
  position: absolute;
  top: 25%;
  max-width: 500px;
}

.banner-logo {
  width: 100%;
  transform: rotate(-4deg);
}

.words {
  width: 100%;
}

.words p {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  transform: rotate(-4deg);
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'Gloria Hallelujah';
}

.words p:nth-child(odd) {
  /*top: 25px;*/
}

.banner h1 {
  font-family: comic sans ms,comic-sans-w01-regular,comic-sans-w02-regular,comic-sans-w10-regular,cursive;
  position: absolute;
  top: 22%;
}

.down {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 15px);
  width: 65px;
  transition: all .2s;
}

.down:hover {
  transform: rotate(15deg);
}

.doll {
    width: 100px;
    transform: rotate(-15deg);
}

.beige {
  border-color: #fcfad5;
  background-color: #fcfad5;
  color: #333;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23ffe445' fill-opacity='0.28' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.activities {
  margin-bottom: 15px;
}

.activity-box img {
  max-width: 300px;
  /*margin: 30px 15px;*/
}

.activity h3 {
  max-width: 210px;
  margin: 5px auto;
}

.activity img {
  width: 100%;
  max-width: 160px;
  border-radius: 50%;
  border: 5px solid #FFC821;
}

.activity .blue {
  border-left: 5px solid #8ce4e4;
  border-right: 5px solid #04baba;
  border-top: 5px solid #8ce4e4;
  border-bottom: 5px solid #04baba;
}

.activity .yellow {
  border-left: 5px solid #ffda69;
  border-right: 5px solid #FFC821;
  border-top: 5px solid #ffda69;
  border-bottom: 5px solid #FFC821;
}

.activity .purple {
    border-left: 5px solid #d775ea;
    border-right: 5px solid #a817c5;
    border-top: 5px solid #d775ea;
    border-bottom: 5px solid #a817c5;
}

.activity .green {
    border-left: 5px solid #9fe6c3;
    border-right: 5px solid #21FF91;
    border-top: 5px solid #9fe6c3;
    border-bottom: 5px solid #21FF91;
}

.activity h3 {
  font-weight: lighter;
}

.ubuntu {
  padding: 60px 0;
}

.kids {
    border: 5px solid #333;
    height: 150px;
    border-radius: 3px;
    transform: rotate(-2deg);
    margin: 2.5px;
}

.kids:nth-child(odd) {
    transform: rotate(0deg);
}

.share li {
  margin: 8px;
}

.btn.fnr-red {
  background-color: #f08232;
  padding: 15px 70px;
  border: 3px solid #c6512a;
  color: #FFF;
  transform: rotate(-5deg);
}

.btn.fnr-red:hover {
  transform: rotate(0deg);
  background-color: #c6512a;
}

footer img {
  height: 70px;
  margin: 0 5px
}

.contact img {
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.contact p {
  display: inline-block;
  vertical-align: middle;
}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Paper Plane
 */
/*Paper Plane: Container*/
.plane-container {
  width: 120px;
  margin: 0px auto;
  z-index: 2;
}
 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/
.plane-container {
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

.banner {
    -webkit-animation: sky 5s alternate infinite;
    -moz-animation: sky 5s alternate infinite;
    animation: sky 5s alternate infinite;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes sky {
    50% {
     background-color: #B37FEC;
    }
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 200px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 3;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 100px;
  width: 50px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 100px;
  width: 75px;
}

.cloud.big {
  width: 250px;
  margin-top: 25px;
  margin-right: 75px;
}

.cloud.massive {
  width: 300px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

.moon {
    width: 90px;
    margin-right: 200px;
    margin-top: 24px;
    opacity: 1;
}


.by {
  border-top: 1px solid #9dc6b9;
}

.gaintime {
  width: 90px;
  fill: #333;
  height: auto;
}
